/**********************************************************************
 * Base
 **********************************************************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer hr {
  margin-bottom: 2px;
}

.footer p {
  text-align: right;
}

main {
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.nav-pills .nav-link.active {
  cursor: pointer;
  cursor: hand;
}

span.pointer {
  cursor: pointer;
  cursor: hand;
}

pre {
  margin: 0px;
}

pre.preview {
  border-left: 1px solid #aaa;
  background: #eee;
  margin-left: 25px;
  padding: 10px;
}

.mono {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/**********************************************************************
 * Headers
 **********************************************************************/

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

h1 small.subtitle {
  color: #636c72;
  font-size: 60%;
  margin-left: 50px;
}

/**********************************************************************
 * Sidebar
 **********************************************************************/
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/**********************************************************************
 * Tables
 **********************************************************************/

table tr.deleted td {
  /* background-color: #f2dede; */
  background-color: #eee;
  color: #ccc;
  text-decoration: line-through;
}

table tr.deleted td.actions {
  text-decoration: none;
}

/**********************************************************************
 * Image Info
 **********************************************************************/

table#imageinfo > tr > th {
  width: 250px;
}

table#variables {
  table-layout: fixed;
}

table#variables th.name, table#variables td.name {
  width: 150px;
}

table#variables th.type, table#variables td.type {
  width: 150px;
}

table#variables th.actions, table#variables td.actions {
  width: 150px;
}

table#imageinfo tr.scriptdata td {
  max-height: 250px;
  overflow: auto;
}

table#imageinfo tr.scriptdata pre {
  max-height: 250px;
  overflow: auto;

  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table#imagelist th.actions, table#imagelist td.actions {
  width: 350px;
}

table#imagelist th.imageid, table#imagelist td.imageid {
  width: 50px;
}

/**********************************************************************
 * Server Info
 **********************************************************************/

table#serverinfo > tbody > tr > th, table#variables > tbody > tr > th {
  width: 250px;
}

table#serverlist th.actions, table#serverlist td.actions {
  width: 350px;
}

table#serverlist th.enabled, table#serverlist td.enabled {
  width: 200px;
}

table#serverlist th.image, table#serverlist td.image {
  width: 300px;
}

table#serverlist th.imageid, table#serverlist td.imageid {
  width: 50px;
}

table#serverlogs th.time, table#serverlist td.time {
  width: 350px;
}

table#serverlogs th.type, table#serverlist td.type {
  width: 100px;
}
